{% extends 'base.html' %}
{% load bootstrap5 %}

{% block main %}
<form method="post">{% csrf_token %}
    {% bootstrap_field form.employee %}
    {% bootstrap_field form.date %}
    {% bootstrap_field form.time_from %}
    {% bootstrap_field form.time_to %}
    {% bootstrap_field form.explane show_label=False %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">
      Сохранить
    </button>
    <a href="{% url 'logout' %}" class="btn btn-outline-primary">
        Выйти
    </a>
  {% endbuttons %}
</form>
{% endblock %}